@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.Me {
    width: 100%;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
    margin-top: 70px;

    h1 {
        font-size: 55px;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    h2 {
        font-size: 20px;
        color: #54d489;
        font-family: 'Press Start 2P', cursive;
    }
}