@use "../../variables" as v;

.Skills {
  background-color: v.$background-color2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //height: 50vh;
  min-height: 600px;
  position: relative;

  @media screen and (max-width: 680px) {
    max-height: 600px;
  }
}

.containerSkills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  min-width: 390px;
  padding: 30px 0;

  .skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 15px;
    color: white;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(16, 16, 16);
    padding: 25px 60px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    width: 90px;
    height: 130px;
    text-align: center;

    .imgSkillLogo {
      height: 75px;
      width: 75px;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 15px;
    }

    h1 {
      font-size: 20px;
    }

    &:hover {
      background-color: transparent;
      border: 1px solid #54d489;
      cursor: pointer;
    }

    @media screen and (max-width: 680px) {
      width: 100px;

      .imgSkillLogo {
        height: 70px;
        width: 70px;
      }
    }
  }

  @media screen and (max-width: 680px) {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #24a359;
    border-radius: 6px;
    border: 1px solid #333;

    &:hover {
      background-color: rgb(63, 196, 114);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #333333;
  }
}
