.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .bar {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 10px;
        transition: 0.4s;
    }

    &.open {
        .bar:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
    
        .bar:nth-child(2) {
          opacity: 0;
        }
    
        .bar:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -6px);
        }
    }
}