.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(1, 1, 1, 0.993);
    box-shadow: rgba(255, 255, 255, 0.45) 0px 10px 15px -20px;

    div {
        display: flex;
        flex-grow: 1;
        justify-content: center;


        h3 {
            color: white;
            font-size: 24px;
        }
    }

    .menuItens {
        display: flex;
        gap: 32px;
        flex-grow: 2;
        justify-content: center;
        
        li {
            list-style-type: none;
            white-space: nowrap;

            a {
                font-family: 'Times New Roman', Times, serif;
                color: white;
                text-decoration: none;
                position: relative;

                &:hover {
                    cursor: pointer;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: #54d489;
                    transition: width 0.5s ease;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: 677px) {
            display: none;
        }
    }

    .menuItensIcon {
        display: none;
        flex-grow: 2;
        padding: 0 20px;
        gap: 30px;
        justify-content: center;

        ul {
            display: flex;
            padding: 0 20px;
            gap: 30px;
            justify-content: center;
            transform: translateY(-100%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            .show {
                animation: slideIn 0.3s ease-in-out forwards;
            }

            .hide {
                animation: slideOut 0.3s ease-in-out forwards;
            }

            li {
                list-style-type: none;
            }
            
            a:hover {
                cursor: pointer;
            }

            img {
                height: 32px;
                object-fit: cover;
            }
        }

        @media screen and (max-width: 677px) {

            ul {
                display: none;
                gap: 5px;

                .show {
                    transform: translateY(0);
                    opacity: 1;
                    display: flex; 
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    width: 10px;
                    background-color: rgba(24, 24, 24, 0.705);
                    z-index: 1;
                }
            }
        }

        .open {
            li {
                padding: 20px;
            }
        }
    }

    .hamburguerSection {
        display: none;

        @media screen and (max-width: 677px) {
            display: flex;
            right: 0;
            position: absolute;
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}